# POSTGRES Container
POSTGRES_USER=${POSTGRES_USER}
POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
POSTGRES_DB=${POSTGRES_DB}

# Prisma Connection
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}?schema=public"

# REDIS
REDIS_PASSWORD=${REDIS_PASSWORD}
REDIS_URL="redis://:${REDIS_PASSWORD}@localhost:6379"

# JWT
JWT_SECRET="실제 JWT secret Key"
JWT_REFRESH_SECRET="실제 JWT Refresh secret Key"

# OAuth
GOOGLE_CLIENT_ID="실제 google client ID"
GOOGLE_CLIENT_SECRET="실제 google client secret"
GOOGLE_CALLBACK_URL="실제 개발 또는 배포 단계의 Backend callback URL"

# Frontend
FRONTEND_URL="실제 개발 또는 배포 단계에서의 FrontEnd URL"

# MCP SERVER
MCP_SERVER_URL="실제 MCP server URL"